<a href="{{STATIC_URL}}#regisModal" role="button" class="btn btn-success" data-toggle="modal"><i class=" icon-edit icon-white"></i> Register</a>

<!-- registerModal -->
<div id="regisModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="regisModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="regisModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-success">Register</button>
    </div>
</div>