              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" placeholder="O que procura?" class="form-control">
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option>Curso</option>
                    <option>Disciplina</option>
                    <option>Assunto</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
              </form>